<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/desktopwallpapers.org.ua-41897.jpg" alt="home-logo">
      <br>
      <ion-card-subtitle>Made by FireBase</ion-card-subtitle>
      <br>
      <ion-card-title>Home Page</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card>
</ion-content>
